/* ipad横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */
	html{
		width: 1024px;
	}
	body{
		width: 1024px;
		background-image: url("../images/detaillist/14.png");
		background-size: 100% 100%;
		background-attachment:fixed;
	}	
	/*main部分 start*/
	.main{
		margin-top: 80px;
		position: relative;
	}
	/*左侧部分 start*/
	.main .left{
		padding-bottom: 50px;		
		width: 196px;
		height: 639px;
		opacity:0.9;
		background:#131318;
		box-shadow:4px 2px 4px 0 rgba(19,19,24,0.20);
		position: fixed;
		margin-bottom: 50px;
	}
	.main .home{
		display: block;
		width: 196px;
		height: 64px;
		opacity:0.9;
		border-bottom:1px solid #0a0a0c;
		position: relative;
	}
	.home img{	
		width: 30px;
		line-height: 64px;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.home span{
		font-family:SFUIDisplay-Thin;
		font-size:17px;
		color:#eaeaea;
		position: absolute;
		top: 30px;
		left: 62px;
		font-weight: 600;
	}
	.tabtitle{
		overflow-y:scroll;
	}
	.tabtitle li{		
		border-bottom:1px solid #0a0a0c;
		height: 64px;
		position: relative;
	}
	.tabtitle li img{
		width: 30px;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.tabtitle li span{
		display: inline-block;
		padding-top: 4px;
		padding-bottom: 4px;
		font-family:SFUIDisplay-Thin;
		font-size:17px;
		color:#eaeaea;
		position: absolute;
		left: 62px;
		top: 23px;
		font-weight: 600;
	}
	.tabtitle .cur{
		background: url(../images/detaillist/color_0.5x.png);
	}
	/*左侧部分 end*/
	/*右侧部分 start*/
	.main .tabcontent{
		width: 828px;
		height: auto;
		position: absolute;
		top: 0;
		left: 196px;
		/*不透明度控制着右边部分的亮度*/
		opacity:0.9;
		background:#2e2e38;	
		display: none;	
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.main .tabcontent.cur{
		display: block;
	}
	.tabcontent .sontab{
		width: 828px;
		height: 54px;
		line-height: 54px;
		border-bottom:1px solid #0a0a0c;
		position: fixed;
		top: 82px;
		left: 196px;
	}
	.tabcontent .sontab span{
		padding-left: 4px;
		padding-right: 4px;
		display: inline-block;
		margin-left: 51px;
		font-family:SFUIDisplay-Thin;
		font-size:17px;
		color:#eaeaea;
	}
	.tabcontent .sontab span.on{
		color:#d2ac2b;
		border-bottom:2px solid #d2ac2b;
	}
	.weather{
		overflow-y:none;
		font-family:SFUIDisplay-Thin;
	}
	.weather>div{
		margin: 10px;
		color:#eaeaea;
	}
	.weather .weathertoday{
		width: 808px;
		height: 444px;
		position: relative;
		background:#131318;
	}
	.weather .weathertoday .floatleft{
		margin-top: 25px;
		margin-left: 25px;
	}
	.weather .weathertoday .floatright{
		margin-top: 25px;
		margin-right: 25px;
		font-size: 18px;
		width: 80px;
		height: 36px;
		background:#eaeaea;
		border-radius:100px;
		position: relative;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weathertoday .floatright span{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		background:transparent;
		line-height: 32px;
		border-radius:100px;
		width:32px;
		height:32px;
		position: absolute;
		left: 5px;
		top: 2px;
		color: #d2ac2b;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weathertoday .floatright span.cur{
		background: #d2ac2b;
		color: #ffffff;
	}
	.weather .weathertoday .floatleft img{
		width: 15px;
		height: 19px;
		margin-right: 10px;
	}
	.weather .weathertoday .floatleft span{
		font-size: 18px;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weathertoday .todaywicon{
		font-size: 18px;
		padding-top: 73px;
		padding-left: 312px;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weathertoday .todaywicon img{
		width: 210px;	
	}
	.weather .weathertoday .todaywicon span{
		position: absolute;
		top: 348px;
		left: 414px;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weathertoday .todaywicon .weathernum{
		font-size: 94px;
		font-family:SFUIDisplay-Thin;
		position: absolute;
		right: 420px;
		top: 284px;
	}
	.weather .weekweather{
		width: 808px;
		height: 170px;
		background:#131318;
		margin-top: 6px;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weekweather p{
		display: inline-block;
		width: 160px;
		height: 170px;
		border-right: 1px solid #0a0a0c;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weekweather p span{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
		font-family:SFUIDisplay-Thin;
	}
	.weather .weekweather p img{
		width: 50px;
		margin-left: 50px;
		margin-top: 13px;
		/*margin-bottom: 20px;*/
	}
	.weather .weekweather p.weathlast{
		border: 0 none;
	}
	.sontabcon{
		/*margin-top: 10px;*/
		margin-top: 70px;
		margin-left: 10px;
		display: none;
		height: 578px;
		overflow-y:scroll;
		position: fixed;
		margin-bottom:90px;
		padding-bottom: 60px;
	}
	.sontabcon.on{
		display: block;
	}
	.sontabcon .min{
		float: left;
		width: 262px;
		height: 250px;
		margin-right: 10px;
		margin-bottom: 10px;
		background:#131318;
		box-shadow:0 2px 6px 0 rgba(19,19,24,0.20);
		position: relative;
	}
	.sontabcon .min img{
		width: 100%;
		height: 160px;		
	}
	.sontabcon .min p{
		font-family:SFUIDisplay-Thin;
		font-size:19px;
		color:#eaeaea;
		text-align:left;
		margin-left: 12px;
	}
	.sontabcon .min .foodname{
		margin-top: 8px;
		margin-bottom: 10px;
		width: 216px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;		
	}
	.sontabcon .min .detail{
		font-family:SFUIDisplay-Thin;
		font-size:14px;
		color:#a0a0a0;
		text-align:left;
		margin-top: 8px;
		width: 216px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.sontabcon .min .cart{
		width: 40px;
		height: 40px;
		position: absolute;
		right: 13px;
		bottom: 25px;
	}
	/*右侧部分 end*/
	/*main部分 end*/
	/*蒙板部分 start*/
	.mengban{
		display: none;
		width: 1024px;
		height: 768px;
		position:fixed;
		z-index: 100;	
		/*opacity:0.6;*/	
		opacity:0.86;
		background:#131318;
	}
	.mengban.cur{
		display: block;
	}
	.mengban>img{
		width: 35px;
		height: 35px;
		position: absolute;
		top: 65px;
		right: 171px;
	}
	.mbmain{
		opacity:1;
		background:#ffffff;
		border-radius:12px;
		width:562px;
		height:432px;
		position: absolute;
		top: 100px;
		left: 207px;
		padding: 30px 24px 30px 24px;
	}
	.mengban>button{
		background:#d2ac2b;
		border-radius:5px;
		width:153px;
		height:43px;
		position: absolute;
		left: 440px;
		bottom: 206px;
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		letter-spacing:0.47px;
		text-align:center;
		border: 0 none;
	}
	.mbmain>p{
		height: 39px;
		border-bottom:1px solid #c0c0c5;
	}
	.mbmain>p span{
		font-family:SFUIDisplay-Light;
		font-size:24px;
		color:#202028;
		letter-spacing:0.47px;
		margin-top: -2px;
	}
	.mbmain>p span.mbprice{
		font-family:SFUIDisplay-Light;
		font-size:30px;
		color:#d2ac2b;
		letter-spacing:0.59px;
		float: right;
		margin-top: -7px;
	}
	.mbmain>p span.mbprice>span{
		font-family:SFUIDisplay-Light;
		font-size:30px;
		color:#d2ac2b;
		letter-spacing:0.59px;
		float: right;
		margin-top: -7px;
	}
	.mbmain li p{
		font-family:SFUIDisplay-Light;
		font-size:14px;
		color:#98989d;
		letter-spacing:0.41px;
		text-align:left;
		margin-top: 19px;
		margin-bottom: 13px;
	}
	.mbmain li button{
		border:1px solid #7e7e8b;
		border-radius:3px;
		height:32px;
		color:#7e7e8b;
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#7e7e8b;
		letter-spacing:0.45px;
		text-align:left;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.mbmain button.cur{
		color:#d2ac2b;
		border:1px solid #d2ac2b;
	}
	/*蒙板部分 end*/			
}