/* ipad横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */
	html{
		height: 100%;
	}
	body{
		height: 100%;
		position: relative;
		background-image: url("../images/index/bg_0.5x.png");
		background-size: 100% 100%;
		background-attachment:fixed;
	}
	
	/*main部分 start*/
	.main{
		padding-left: 10px;
		position:absolute;
		left: 0;
		top: 90px;
	}
	.main>div{
		margin-bottom: 10px;
		margin-right: 10px;
		position: absolute;		
	}
	.main>div a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	.main>div .img{
		width: 77px;	
		height: 65px;	
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -39px;
		margin-top: -59px;
	}
	.main>div .text{
		font-family: SFUIDisplay-Light;
	    font-size: 24px;
	    color: #eaeaea;
	    text-align: center;
	   	/*position: absolute;
	   	top: 50%;
	   	left: 50%;*/
	}
	.main .weatherbox p{
		font-size: 16px;
		color: #FFFFFF;
		position: absolute;
		left: 20%;
		top: 10%;
		font-family: SFUIDisplay-Thin;
	}
	/*main部分 end*/		
}