/* ipad横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */

	html{
		height: 384px;
	}
	body{
		width: 1024px;
		height: 100%;
		background-color: #000000;
		color:#2d2d2d;
		position: relative;
	}
	.top{
		width: 236px;
		margin-top: 265px;
		margin-left: 395px;
		font-family:SFUIDisplay-Medium;
		font-size:65px;
		color:#e5bd36;
		/*text-align:center;*/
	}
	.bot{
		position: absolute;
		bottom: -72px;
		left: 433px;
		width: 157px;
	}
	.main {
		width:100%;
		overflow:hidden;
		padding-bottom: 44px;
	}
	.progress {
		background:#5a5a69;
		box-shadow:inset 0 0 0.5px 1px #4b4b54;
		border-radius:50px;
		width:450px;
		height:13px;
		margin-left: 287px;
		margin-top: 45px;
	}
	.progress span {
		display:block;
		width:0px;
		height:100%;
		color:#fff;
		font-size:5px;
		line-height:5px;
		text-align:right;
		background-color:#ddd;
		border-radius:5px;
	}
	.pro1 span {
		background-color:#e5bd36;
		animation:move 5s ease-in forwards;
		position: relative;
	}
	.pro1{
		position: relative;		
	}
	.pro1 p {	
		position: absolute;
		left: 5px;
		top: 14px;
		color: #e5bd36;
		font-family:SFUIDisplay-Light;
		font-size:25px;
		margin-top: 20px;
	}
	@-webkit-keyframes move {
	from {
		width:0px;
	}
	to {
		width:100%;
	}
	}
}