@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
		/*自定义字体*/
		@font-face { 
			font-family: SFUIDisplay-Light; 
			src: url("../font/SFUIDisplay-Light.otf"); 
		}
		@font-face { 
			font-family: SFUIDisplay-Thin; 
			src: url("../font/SFUIDisplay-Thin.otf");
		}	
		@font-face { 
			font-family: SFUIDisplay-Medium; 
			src: url("../font/SFUIDisplay-Medium.otf");
		}
		*{
			font-family:SFUIDisplay-Thin;
		}
		/*浮动相关*/
		.floatleft{
			float: left;
		}
		.floatright{
			float: right;
		}
		/*头部样式 satrt*/
		.header{
			height: 60px;
			padding-top: 20px;
			width: 100%;
			opacity:0.8;
			background:#19191e;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
		}
		.header .left{
			float: left;
			margin-top: 14px;
			margin-left: 26px;
		}
		.header .left p{
			font-family:SFUIDisplay-Light;
			font-size:15px;
			color:#eaeaea;
			letter-spacing:0;
			margin-bottom: 5px;
		}
		.header img.center{
			text-align: center;
			width:35px;
			height:30px;
			margin-left: 398px;
			margin-top: 16px;
		}
		.header .right{
			float: right;
			padding-right: 8px;
		}
		.header .right li{
			display: inline-block;
			margin-right: 9px;
			margin-top: 9px;
			position: relative;
			cursor: pointer;
		}
		.header .right li img{
			width: 46px;
		}
		.header .right li sup{
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background:#ff3840;
			font-family:SFUIDisplay-Light;
			font-size:12px;
			color:#ffffff;
			text-align:center;
			line-height: 16px;
			position: absolute;
			top: 7px;
			right: 4px;
		}
		.header .right li sup.cur{
			background: transparent;
		}
		.header .right li sup.shop{
			top: 5px;
			right: 2px;
		}
		/*paysuccess*/
		#paysuccess,#payfailure{
			width: 769px;
			height: 593px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
			display: none;
		}
		#paysuccess.cur,#payfailure.cur{
			display: block;
		}
		#paysuccess h3,#payfailure h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 65px;
			border-bottom:1px solid #c0c0c5;
			padding-left: 40px;
		}
		#paysuccess .return4,#payfailure .return4{
			position: absolute;
			left: 21px;
			top: 35px;
		}
		#paysuccess div,#payfailure div{
			position: relative;
		}
		#paysuccess div img,#payfailure div img{
			width: 113px;
			height: 113px;
			position: absolute;
			top: 93px;
			left: 347px;
		}
		#paysuccess div .success,#payfailure div .success{
			font-family:SFUIDisplay-Medium;
			font-size:24px;
			color:#d2ac2b;
			letter-spacing:0.53px;
			position: absolute;
			top: 234px;
			left: 310px;
		}
		#paysuccess div .successinfo,#payfailure div .successinfo{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#7e7e8b;
			letter-spacing:0;
			position: absolute;
			left: 169px;
			top: 272px;
		}
		#paysuccess div button,#payfailure div button{
			background:#d2ac2b;
			border-radius:5px;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#eaeaea;
			letter-spacing:0.39px;			
			padding: 13px 40px;
			border: 0 none;
			position: absolute;
			left: 322px;
			top: 341px;
		}
		#payfailure div .success{
			left: 316px;
		}
		#payfailure div .successinfo{
			/*position: absolute;*/
			left: 231px;
		}
		/*alipy*/
		.alipy,#orderalipy{
			width: 769px;
			height: 593px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
			display: none;
		}
		#wechat .erweima{
			border: 1px solid #41a344;			
		}
		.alipy.cur,#orderalipy.cur{
			display: block;
		}
		.alipy .return3,#orderalipy .return3{
			position: absolute;
			left: 11px;
			top:27px;
		}
		.alipy h3,#orderalipy h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 65px;
			border-bottom:1px solid #c0c0c5;	
			padding-left: 10px;	
			padding-left: 40px;
		}
		.alipy>p,#orderalipy>p{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			position: absolute;
			top: 33px;
			right: 23px;
		}
		.alipy div,#orderalipy div{
			position: relative;
		}
		.alipy .alipylogo,#orderalipy .alipylogo{
			height: 120px;
			position: absolute;
			left: 330px;
			top: 8px;
		}
		.alipy .erweima,#orderalipy .erweima{
			width: 272px;
			height: 272px;
			position: absolute;
			top: 114px;
			left: 251px;
			padding: 16px;
			border: 1px solid #05aaff;
		}
		.alipy .erweima img,#orderalipy .erweima img{
			width: 273px;
			height: 273px;
		}
		.alipy .payment,#orderalipy .payment{
			position: absolute;
			left: 250px;
			top: 436px;
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#7e7e8b;
			letter-spacing:0.33px;
			line-height:25px;
			text-align:center;
		}
		.alipy .payment span,#orderalipy .payment span{
			color: #D2AC2B;
			font-size: 17px;
		}
		/*#cash div{
			position: relative;
		}*/
		#cash div p,#coupons div p{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.3px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 55px;
		}
		#cash div .shouldpay,#coupons div .shouldpay{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#131318;
			letter-spacing:0.38px;
			text-align:center;
			margin-top: 83px;
			margin-bottom: 19px;
		}
		#cash div .shouldpay span,#coupons div .shouldpay span{
			color:#d2ac2b;
		}
		#cash div button,#coupons div button{
			background:#d2ac2b;
			border-radius:5px;
			width:228px;
			height:50px;
			font-family:SFUIDisplay-Light;
			font-size:24px;
			color:#ffffff;
			letter-spacing:0.47px;
			text-align:center;
			border: 0 none;	
			margin-left: 291px;		
		}
		#cash div img,#coupons div img{
			width: 150px;
			height: 150px;
			margin-left: 330px;
		}
		#creditcard div p{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.3px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 55px;
		}
		#creditcard div .shouldpay{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#131318;
			letter-spacing:0.38px;
			text-align:center;
			margin-top: 83px;
			margin-bottom: 19px;
		}
		#creditcard div .shouldpay span{
			color:#d2ac2b;
		}
		#creditcard div button{
			background:#d2ac2b;
			border-radius:5px;
			width:228px;
			height:50px;
			font-family:SFUIDisplay-Light;
			font-size:24px;
			color:#ffffff;
			letter-spacing:0.47px;
			text-align:center;
			border: 0 none;	
			margin-left: 291px;		
		}
		#creditcard div img{
			width: 150px;
			height: 150px;
			margin-left: 330px;
		}
		#roomfolio div p{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.3px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 55px;
		}
		#roomfolio div .shouldpay{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#131318;
			letter-spacing:0.38px;
			text-align:center;
			margin-top: 83px;
			margin-bottom: 19px;
		}
		#roomfolio div .shouldpay span{
			color:#d2ac2b;
		}
		#roomfolio div button{
			background:#d2ac2b;
			border-radius:5px;
			width:228px;
			height:50px;
			font-family:SFUIDisplay-Light;
			font-size:24px;
			color:#ffffff;
			letter-spacing:0.47px;
			text-align:center;
			border: 0 none;	
			margin-left: 291px;		
		}
		#roomfolio div img{
			width: 150px;
			height: 150px;
			margin-left: 330px;
		}
		/*paymentmethod*/
		#paymentmethod,#orderpaymentmethod{
			width: 769px;
			height: 593px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
			display: none;
		}
		#paymentmethod.cur,#orderpaymentmethod.cur{
			display: block;
		}
		#paymentmethod .return2,#orderpaymentmethod .return2{
			position: absolute;
			left: 11px;
			top: 27px;
		}
		#paymentmethod h3,#orderpaymentmethod h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 65px;
			border-bottom:1px solid #c0c0c5;	
			padding-left: 10px;	
			padding-left: 40px;
		}
		#paymentmethod ul li,#orderpaymentmethod ul li{
			height: 75px;
			border-bottom:1px solid #c0c0c5;
			padding-top: 20px;
			position: relative;
		}#paymentmethod ul li div{
			width: 300px;
		}
		#paymentmethod li p,#orderpaymentmethod li p{
			width: 21px;
			height: 21px;
			border: 1px solid #c0c0c5;
			border-radius: 50%;
			position: absolute;
			left: 10px;
			bottom: 35px;
		}
		#paymentmethod li p span,#orderpaymentmethod li p span{
			display: inline-block;
			width: 9px;
			height: 9px;
			
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -4.5px;
			margin-left: -4.5px;
		}
		#paymentmethod li div.cur p span,#orderpaymentmethod li div.cur p span{
			background-color: #d2ac2e;
		}
		#paymentmethod li img,#orderpaymentmethod li img{
			vertical-align: middle;
			margin-right: 10px;
			margin-left: 50px;			
		}
		#paymentmethod li .next,#orderpaymentmethod li .next{
			position: absolute;
			right: 10px;
			bottom: 35px;
		}
		/*confirmorder*/
		#confirmorder{
			width: 769px;
			height: 593px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
			display: none;
		}
		#confirmorder.cur{
			display: block;
		}
		#confirmorder .return1{
			position: absolute;
			left: 11px;
			top: 27px;
		}
		#confirmorder h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 65px;
			border-bottom:1px solid #c0c0c5;	
			padding-left: 10px;	
			padding-left: 40px;
		}
		#confirmorder .confirmorder_ordertitle{
			height: 130px;
			font-family:SFUIDisplay-Light;
			font-size:14px;
			color:#191814;
			letter-spacing:0.22px;
			text-align:left;
			padding-top:10px;
			border-bottom:1px solid #c0c0c5;
		}
		#confirmorder .confirmorder_ordertitle img{
			padding-left: 274px;
			margin-bottom: 5px;
		}
		#confirmorder .confirmorder_ordertitle .logotxt{
			text-align: center;
			font-family:SFUIDisplay-Light;
			font-size:16px;
			color:#191814;
			letter-spacing:0.31px;
		}
		#confirmorder .confirmorder_ordertitle .namepag{
			font-family:SFUIDisplay-Medium;
			font-size:14px;
			color:#191814;
			letter-spacing:0.33px;
			text-align:left;
		}
		#confirmorder ul li{
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom:1px solid #c0c0c5;
			position: relative;
		}
		#confirmorder ul li.ultitle{
			font-family:SFUIDisplay-Medium;
			font-size:19px;
			color:#191814;
			letter-spacing:0.37px;
			text-align:left;
		}
		#confirmorder ul li .qty{
			position: absolute;
			left: 455px;			
		}
		#confirmorder ul li .ul_price{
			position: absolute;
			left: 592px;			
		}
		#confirmorder ul li .total{
			position: absolute;
			right: 2px;			
		}
		#confirmorder ul li p{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#888885;
			letter-spacing:0.37px;
			text-align:left;
			line-height: 35px;
		}
		#confirmorder ul li p.lititle{
			color:#191814;
		}
		#confirmorder .submitsub{
			border-bottom:1px solid #c0c0c5;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 50px;
		}
	
		#confirmorder .submitsub .subtotal{
			font-family:SFUIDisplay-Medium;
			font-size:19px;
			color:#191814;
			letter-spacing:0.37px;
			text-align:left;
			margin-bottom: 8px;
		}
		#confirmorder .submitsub .surcharge{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#191814;
			letter-spacing:0.37px;
			text-align:left;
		}
		#confirmorder .totalamount{
			font-family:SFUIDisplay-Medium;
			font-size:22px;
			color:#191814;
			letter-spacing:0.43px;
			text-align:left;
			padding-top: 12px;
			padding-bottom: 12px;
			border-bottom:1px solid #c0c0c5;
			height: 28px;
		}
		#confirmorder .order_request{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#191814;
			letter-spacing:0.37px;
			text-align:left;
			padding-top: 12px;
			padding-bottom: 12px;
			border-bottom:1px solid #c0c0c5;
			height: 28px;
		}
		#confirmorder .order_request span{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#888885;
			letter-spacing:0.33px;
			text-align:left;
		}
		#confirmorder .thanks_info{
			font-family:SFUIDisplay-Light;
			font-size:14px;
			color:#191814;
			letter-spacing:0.33px;
			text-align:left;
			padding-top: 6px;
			position: relative;
			height: 178px;
		}
		#confirmorder .thanks_info p{
			margin-top: 15px;
			margin-bottom: 15px;
		}
		#confirmorder .thanks_info .thanks{
			font-family:SFUIDisplay-Medium;
			font-size:20px;
			color:#191814;
			letter-spacing:0.39px;
			text-align:left;
		}
		#confirmorder .thanks_info button{
			background:#d2ac2b;
			border-radius:5px;
			height:55px;
			font-family:SFUIDisplay-Light;
			font-size:23px;
			color:#ffffff;
			letter-spacing:0.45px;
			text-align:center;
			border: 0 none;
			position: absolute;
			right: 31px;
			bottom: 47px;
		}
		/*#confirmorder ul li{
			padding-top: 17px;
			padding-bottom: 17px;
			padding-left: 8px;
			border-bottom:1px solid #c0c0c5;
			position: relative;
		}
		#confirmorder ul li img{
			height: 100px;
			float: left;
		}
		#confirmorder ul li div{
			display: inline-block;
			padding-left: 15px;
		}
		#confirmorder ul li div p{
			margin-top: 9px;
			margin-bottom: 10px;
		} */
		#confirmorder .cartli2{
			text-align: right;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#7e7e8b;
			letter-spacing:0.52px;
			padding-right: 10px;
		}
		#confirmorder .cartli2 span{
			font-family:SFUIDisplay-Medium;
			font-size:25px;
			color:#d2ac2b;
			letter-spacing:0.49px;
		}
		#confirmorder .cartli3{
			border: 0 none;
		}
		#confirmorder .cartli3 p{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#7e7e8b;
			letter-spacing:0.5px;
		}
		#confirmorder .cartli3 button{
			background:#d2ac2b;
			border-radius:5px;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#eaeaea;
			letter-spacing:0.39px;
			text-align:center;
			padding: 10px 22px;
			position: absolute;
			right: 20px;
			top: 17px;
			border: 0 none;
		}
		#confirmorder ul li div p span{
			display: inline-block;
			width: 80px;
		}
		/*shoppingcart*/
		.carticon{
			height: 26px;
			position: fixed;
			top: 69px;
			right: 207px;
			display: none;
			z-index: 999;
		}
		.carticon.cur{
			display: block;
		}
		#cartcon{
			width: 769px;
			height: 593px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
		}
		#cartcon h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 55px;
			border-bottom:1px solid #c0c0c5;	
			padding-left: 10px;	
		}
		.titleright{
			position: absolute;
			right: 78px;
			top: 23px;
		}
		.titleright p{
			padding-bottom: 10px;
			font-family:SFUIDisplay-Light;
			font-size:16px;
			color:#131318;
			letter-spacing:0.31px;
		}
		#cartcon ul li{
			padding-top: 17px;
			padding-bottom: 17px;
			padding-left: 8px;
			border-bottom:1px solid #c0c0c5;
			position: relative;
		}
		#cartcon ul li img{
			height: 100px;
			float: left;
		}
		#cartcon ul li a img{
			width: 142px;
			height: 100px;
		}
		#cartcon ul li div{
			display: inline-block;
			padding-left: 15px;
		}
		#cartcon ul li div p{
			margin-top: 10px;
			margin-bottom: 10px;
			width: 360px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		#cartcon ul li div .ordertitle{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#131318;
			letter-spacing:0.35px;
			text-align:left;
		}
		#cartcon ul li div .orderdetail{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.35px;
			text-align:left;
		}	 
		#cartcon ul li div .writenow{
			margin-bottom: 0px;
			display: none;
		}
		#cartcon ul li div .writenow.cur{
			display: block;
		}
		#cartcon ul li div .writecopy{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.35px;
			text-align:left;
			line-height: 28px;
			display: none;
		}
		#cartcon ul li div .writecopy.cur{
			display: block;
		}
		#cartcon ul li div textarea{
			height: 30px;
			line-height: 30px;
			width: 198px;
			background-color: transparent;
			border:1px solid #c0c0c5;
			resize: none;
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.35px;
			text-align:left;
			margin: 0;
		}
		#cartcon ul li div button{
			background:#d2ac2b;
			height:36px;
			border: 0 none;
			position: absolute;
			left: 362px;
			bottom: 21px;
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#ffffff;
			letter-spacing:0.35px;
			text-align:left;
			margin: 0;
		}
		#cartcon .delete{
			height: 44px;
			position: absolute;
			right: 15px;
			top:82px;
		}
		#cartcon .write{
			width: 44px;
			height: 44px;
			position: absolute;
			right: 97px;
			top: 80px;
			cursor: pointer;
		}
		#cartcon .cartadd{
			position: absolute;
			right: 12px;
			top: 14px;
		}
		#cartcon .cartnum{
			position: absolute;
			right: 67px;
			top:26px;
		}
		#cartcon .cartminus{
			position: absolute;
			right: 94px;
			top: 14px;
		}
		#cartcon span.cartnum{
			display: inline-block;
		}
		#cartcon .cartminus,#cartcon .cartadd{
			width: 44px;
			height: 44px;
		}		
		#cartcon ul li div p span{
			display: inline-block;
			width: 80px;
			float: right;
			text-align: right;
		}
		#cartcon .cartli2{
			text-align: right;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#7e7e8b;
			letter-spacing:0.52px;
			padding-right: 10px;
		}
		#cartcon .cartli2 span{
			font-family:SFUIDisplay-Medium;
			font-size:25px;
			color:#d2ac2b;
			letter-spacing:0.49px;
		}
		#cartcon .cartli3{
			border: 0 none;
		}
		#cartcon .cartli3 p{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#7e7e8b;
			letter-spacing:0.5px;
		}
		#cartcon .cartli3 textarea{
			background:#d8d8d8;
			width:385px;
			height:80px;
			border: 0 none;
			margin-top: 8px;
			margin-top: 10px;
			padding: 5px;
			resize: none;
			font-size: 19px;
		}
		#cartcon .cartli3 button{
			background:#d2ac2b;
			border-radius:5px;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#eaeaea;
			letter-spacing:0.39px;
			text-align:center;
			padding: 10px 62px;
			position: absolute;
			right: 20px;
			top: 85px;
			border: 0 none;
		}
		.cart_empty>p{
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#131318;
			letter-spacing:0.39px;
			text-align:center;
			margin-top: 77px;
		}
		.cart_empty>img{
			width: 180px;
			height: 180px;
			margin-left: 337px;
			margin-top: 25px;
			margin-bottom: 80px;
		}
		.cart_empty>button{
			background:#d2ac2b;
			border-radius:5px;
			width:228px;
			height:50px;
			font-family:SFUIDisplay-Light;
			font-size:24px;
			color:#ffffff;
			letter-spacing:0.47px;
			text-align:center;
			display: block;
			border: 0 none;
			margin-left: 291px;
		}
		/*orderList*/
		#ordercon{
			width: 809px;
			height: 593px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
		}
		#ordercon h3{
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			height: 65px;
			line-height: 65px;
			border-bottom:1px solid #c0c0c5;	
			padding-left: 30px;	
		}
		#ordercon>p{
			width: 100%;
			height: 55px;
			line-height: 55px;
			display: flex;
			justify-content: space-around;	
		}
		#ordercon>p span{
			display: inline-block;
			width: 190px;
			text-align: center;				
		}
		#ordercon>p span.cur{
			border-bottom:2px solid #d2ac2b;
		}
		#ordercon ul{
			background-color:#d8d8d8;
			padding-top: 0.1px;
			display: none;
		}
		#ordercon ul.cur{
			display: block;
		}
		#ordercon ul li{
			background-color: #eae7e6;
			margin-top: 10px;
		}
		#ordercon ul li>div{
			border-top:1px solid #c0c0c5;
			padding: 17px 20px;	
			position: relative;	
		}
		#ordercon ul li .sellertxt{
			height: 20px;
			border: 0 none;
		}
		#ordercon ul li .statetxt{
			height: 60px;
		}
		#ordercon ul li .sellertxt .sellername{
			display: inline-block;
			font-family:SFUIDisplay-Medium;
			font-size:20px;
			color:#7e7e8b;
			letter-spacing:0.39px;
			float: left;
		}
		#ordercon ul li .sellertxt .state{
			display: inline-block;
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#d33c01;
			letter-spacing:0.39px;
			float: right;
		}
		#ordercon ul li div.sellerimg img{
			width: 110px;
			height: 81px;
			border: 0 none;
			margin-right: 20px;
		}
		#ordercon ul li div.sellerimg button{
			border:2px solid #d2ac2b;
			border-radius:67px;
			height:33px;
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#d2ac2b;
			letter-spacing:0.35px;
			background-color: transparent;
			position: absolute;
			right: 20px;
			top: 40px;
		}
		#ordercon ul li div.sellerimg .cancelled_order{
			position: absolute;
			right: 137px;
			top: 40px;
		}
		#ordercon ul li div.statetxt p{
			display: inline-block;
			font-family:SFUIDisplay-Light;
			font-size:16px;
			color:#131318;
			letter-spacing:0.31px;
			text-align:left;
		}
		#ordercon ul li>div div{
			width: 330px;
			float: right;
			text-align: right;
		}
		#ordercon ul li>div div.flleft{
			float: left;
			text-align: left;
		}
		#ordercon ul li>div div p{
			line-height: 34px;
		}
		#orderunpaid{
			width: 809px;
			height: 593px;
			padding-top: 15px;
			background:#e7e7e7;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
		}
		/*orderdetails部分*/
		.orderdetails{
			width: 809px;
			height: 593px;
			background:#d8d8d8;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			position: fixed;
			top: 88px;
			left: 108px;
			overflow-y:scroll;
		}
		.orderdetails h3{
			height: 90px;
			background-color: #eae8e7;
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			position: relative;
		}
		.orderdetails h3 img{
			position: absolute;
			left: 10px;
			top: 36px;
		}
		.orderdetails h3 span{
			position: absolute;
			left: 59px;
			top: 42px;
		}
		.orderdetails div{
			margin-top: 10px;
			background-color: #eae8e7;
			padding-top: 12px;
			padding-right: 25px;
			padding-left: 25px;
		}
		.orderdetails .div1{
			height: 60px;
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#131318;
			letter-spacing:0.35px;
			text-align:left;
		}
		.orderdetails .div1 span{
			font-family:SFUIDisplay-Light;
			font-size:16px;
			color:#7e7e8b;
			letter-spacing:0.4px;
			text-align:left;
		}
		.orderdetails .ordertime{
			padding-top: 13px;
		}
		.orderdetails .div2>p{
			height: 51px;
			font-family:SFUIDisplay-Medium;
			font-size:20px;
			color:#7e7e8b;
			letter-spacing:0.39px;
			text-align:left;
		}
		.orderdetails .div2>p span{
			margin-top: 10px;
		}
		.orderdetails .div2>p span.orderstate{
			color:#01d326;
		}
		.orderdetails .div2 li{
			border-top: 1px solid #c0c0c5;
			padding-top: 12px;
			padding-bottom: 12px;
			position: relative;
		}
		.orderdetails .div2 li img{
			width: 142px;
			height: 100px;
		}
		.orderdetails .div2 li div{
			display: inline-block;
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#7e7e8b;
			letter-spacing:0.35px;
			text-align:left;
		}
		.orderdetails .name_p,.orderdetails .price_p{
			color:#131318;
		}
		.orderdetails .name_p{
			position: absolute;
			top: 20px;
			left: 182px;
		}
		.orderdetails .num_p{
			position: absolute;
			top: 20px;
			right: 165px;
		}
		.orderdetails .price_p{
			position: absolute;
			right: 30px;
			top: 20px;
		}
		.orderdetails .detail_p{
			position: absolute;
			left: 182px;
			top: 55px;
		}
		.orderdetails .beizhu_p{
			position: absolute;
			left: 182px;
			top: 90px;
		}
		.orderdetails .div3 p{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			color:#191814;
			letter-spacing:0.35px;
			text-align:left;
			padding-bottom: 20px;
		}
		.orderdetails .div3 p .floatright{
			color:#7e7e8b;
		}
		.orderdetails .div4 p{
			font-family:SFUIDisplay-Light;
			font-size:18px;
			letter-spacing:0.35px;
			text-align:left;
			padding-bottom: 20px;
			color:#191814;	
		}
		.orderdetails .div4 p .floatright{
			color:#7e7e8b;
		}
		.orderdetails .div4 p .subtotal_span{
			color:#191814;
			font-family:SFUIDisplay-Medium;
			letter-spacing:0.35px;
			text-align:left;
		}
		.orderdetails .div4 p .service_span{
			font-family:SFUIDisplay-Light;
			color:#191814;
			letter-spacing:0.35px;
			text-align:left;
		}
		.orderdetails .div4 .total_amount{
			font-family:SFUIDisplay-Light;
			font-size:20px;
			color:#131318;
			letter-spacing:0.52px;
			text-align:left;
			text-align: right;
			border-top: 1px solid #c0c0c5;
			padding-top: 20px;
		}
		.orderdetails .div4 .total_amount span{
			font-family:SFUIDisplay-Medium;
			font-size:24px;
			color:#131318;
			letter-spacing:0.47px;
			text-align:left;
		}
		.orderdetails .div4 .unpaid_btn{
			text-align: right;
			border-top: 1px solid #c0c0c5;
			padding-top: 20px;
		}
		.orderdetails .div4 .unpaid_btn button{
			border:1px solid #d2ac2b;
			border-radius:5px;
			width:158px;
			height:43px;
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#d2ac2b;
			letter-spacing:0.37px;
			text-align:center;
			margin-right: 20px;
			background-color: transparent;
		}
		/*orderdetails部分 end*/
		.ordericon{
			height: 26px;
			position: fixed;
			top: 69px;
			right: 149px;
			display: none;
			z-index: 999;
		}
		#messagecon{
			background:#e8e7e8;
			box-shadow:0 2px 10px 0;
			border-radius:12px;
			width:945px;
			height:613px;
			padding-left: 29px;
			padding-right: 29px;
			padding-top: 20px;
			position: fixed;
			top: 88px;
			left: 10px;
			overflow-y:scroll;
		}
		.messageicon{
			height: 26px;
			position: fixed;
			top: 69px;
			right: 88px;
			display: none;
			z-index: 999;
		}
		.messageicon.cur{
			display: block;
		}
		.ordericon.cur{
			display: block;
		}
		#messagecon ul>p{
			height: 60px;
			line-height: 60px;
			font-family:SFUIDisplay-Light;
			font-size:30px;
			color:#131318;
			letter-spacing:0.59px;
			text-align:left;
			border-bottom:1px solid #c0c0c5;
			padding-left: 6px;
		}
		#messagecon ul li{
			border-bottom:1px solid #c0c0c5;
			padding-left: 6px;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		ul li .lititle{
			height: 40px;
		}
		li .mestitle{
			font-family:SFUIDisplay-Light;
			font-size:19px;
			color:#131318;
			letter-spacing:0.76px;
			float: left;
		}
		li .mestime{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			color:#7e7e8b;
			letter-spacing:0.68px;
			float: right;
		}
		li .litxt{
			font-family:SFUIDisplay-Light;
			font-size:17px;
			line-height: 22px;
			color:#7e7e8b;
			letter-spacing:0.34px;
			text-align:justify;
			width: 650px;
		}
		.delmg{
			width: 44px;
			position: absolute;
			right: -9px;
			bottom: 6px;
			cursor: pointer;
		}
		#languagecon{
			width: 262px;
			height: 112px;
			background:#ffffff;
			box-shadow:0 2px 10px 0;
			border-radius:10px;
			position: fixed;
			top: 88px;
			right: 10px;
		}
		#languagecon>div{
			width: 262px;
			height: 112px;
			border-radius:10px;
			overflow: hidden;
		}
		#languagecon img{
			height: 20px;
			position: absolute;
			top: -15px;
			right: 17px;
			z-index: 999;
		}
		#languagecon p{
			font-family:PingFangSC-Light;
			font-size:19px;
			color:#131318;
			letter-spacing:0.37px;
			text-align:center;
			height: 56px;
			line-height: 56px;
		}
		#languagecon p.on{
			background:#d2d4d8;
		}
		#homecon,#cartcon,#ordercon,#messagecon,#languagecon,.orderdetails,.cart_empty{
			display: none;
		}
		#homecon.cur,#cartcon.cur,#ordercon.cur,#messagecon.cur,#languagecon.cur,.orderdetails.cur,.cart_empty.cur{
			display:block;
		}
		/*头部样式 end	
		/*footer部分 start*/
		.footer{
			height: 49px;
			width: 100%;
			opacity: 0.96;
			background: #131318;
			box-shadow: 0 -1px 2px 0;
			display: flex;
			justify-content: space-between;
			position: fixed;
			bottom: -1px;/*解决真机上下方出现一条白缝问题*/
			left: 0;
		}
		.footer p{
			display: inline-block;
			font-family:SFUIText-Regular;
			font-size:10px;
			color:#80808a;
			letter-spacing:0;
			text-align:left;
			line-height: 49px;
			margin-left: 25px;
			margin-right: 25px;
		}
		.footer p img{
			width: 10px;
		}
		/*footer部分 end*/
		.qin{
			color: #f40;
			font-size: 30px;
			font-weight: 600;
			font-family:SFUIText-Regular;
			padding-top: 140px;
			text-align: center;
		}
		sup.cur{
			display: none;
		}
		.warp{
			display: none;
		}
		.warp.cur{
			display: block;
		}
		.closeicon{
			display: none;
		}
		.closeicon.cur{
			display: block;
		}
		p.cancel{
			width: 20px !important;
			height: 20px !important;
			position: absolute !important;
			top:24px !important;
			right: 25px !important;
			text-align: center !important;
			line-height: 40px !important;
			color: #ffffff !important;
			font-size: 30px !important;
		}
		p.cancel img{
			width: 20px !important;
			height: 20px !important;
		}
}