/* ipad 横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */
	html{
		height: 100%;
	}
	body{
		width: 1024px;
		height: 100%;
	}
	.content{
		width: 1024px;
		height: 768px;
		background-image: url("../images/welcome_bg.jpg");
		background-size: 100% 100%;
		position: relative;
	}
	.main{
		width: 728px;
		height: 450px;
		opacity:0.7;
		background:#131318;
		box-shadow:0 2px 4px 0 rgba(19,19,24,0.50);
		border-radius:20px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -225px;
		margin-left: -364px;
	}
	.main img{
		width:108px;
		height:91px;
		margin-left: 324px;
		margin-top: 45px;
	}
	.main .text{
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		letter-spacing:0;
		line-height:26px;
		text-align:center;
		margin: 46px 110px 12px 111px;
	}
	.main .manager{
		height: 40px;
		line-height: 40px;
		margin-left: 238px;
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		text-align:justify;
	}
	.main .manager .name{
		font-family:SFUIDisplay-Thin;
		font-size:32px;
		color:#eaeaea;
		letter-spacing:-0.20px;
		text-align:left;
	}
	.main button{
		border:1px solid #e5bd36;
		border-radius:5px;
		width:247px;
		height:43px;
		margin-left: 240px;
		margin-top: 47px;
		font-family:SFUIDisplay-Light;
		font-size:20px;
		color:#e5bd36;
		letter-spacing:0;
		text-align:center;
		background-color: transparent;
	}
	
	
}