/*自定义字体*/
		@font-face { 
			font-family: SFUIDisplay-Light; 
			src: url("../font/SFUIDisplay-Light.otf"); 
		}
		@font-face { 
			font-family: SFUIDisplay-Thin; 
			src: url("../font/SFUIDisplay-Thin.otf");
		}	
		@font-face { 
			font-family: SFUIDisplay-Medium; 
			src: url("../font/SFUIDisplay-Medium.otf");
		}
		*{
			font-family:SFUIDisplay-Thin;
		}
		/*浮动相关*/
		.floatleft{
			float: left;
		}
		.floatright{
			float: right;
		}
		/*头部样式 satrt*/
		.header{
			height: 60px;
			padding-top: 20px;
			width: 100%;
			opacity:0.8;
			background:#19191e;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
		}
		.header .left{
			float: left;
			margin-top: 14px;
			margin-left: 26px;
		}
		.header .left p{
			font-family:SFUIDisplay-Light;
			font-size:15px;
			color:#eaeaea;
			letter-spacing:0;
			margin-bottom: 5px;
		}
		.header img.center{
			text-align: center;
			width:35px;
			height:30px;
			margin-left: 398px;
			margin-top: 16px;
		}
		.header .right{
			float: right;
			padding-right: 8px;
		}
		.header .right li{
			display: inline-block;
			margin-right: 9px;
			margin-top: 9px;
			position: relative;
			cursor: pointer;
		}
		.header .right li img{
			width: 46px;
		}
		.header .right li sup{
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background:#ff3840;
			font-family:SFUIDisplay-Light;
			font-size:12px;
			color:#ffffff;
			text-align:center;
			line-height: 16px;
			position: absolute;
			top: 7px;
			right: 4px;
		}
		.header .right li sup.cur{
			background: transparent;
		}
		.header .right li sup.shop{
			top: 5px;
			right: 2px;
		}


	
	
	
	/*footer部分 start*/
	.footer{
		height: 49px;
		width: 100%;
		opacity: 0.96;
		background: #131318;
		box-shadow: 0 -1px 2px 0;
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: -1px;/*解决真机上下方出现一条白缝问题*/
		left: 0;
	}
	.footer p{
		display: inline-block;
		font-family:SFUIText-Regular;
		font-size:10px;
		color:#80808a;
		letter-spacing:0;
		text-align:left;
		line-height: 49px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.footer p img{
		width: 10px;
	}
	/*footer部分 end*/